/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
h2,h3{
    text-align: center;
}
/*remove dots from ul*/
ul {
  list-style-type: none;
 }

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.main-nav ul li .selected {
  color: white;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
}
header {
  text-align: center;
  background: url('../images/background.experience.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 3px solid black;
  transition: all 0.2s;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #222;
  color: yellow;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card-contact{
    margin: auto;
    width: 80%;
}
.card:hover {
  border-color: #b3cccc;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
/*STYLING THE EXPERIENCE LINKS*/

#experience h2{
    display: inline-block;
}

.experience a{
  margin: 0 3px;
}
.experience a:hover{
    color: #294429;
    background: #b3cccc;
    border-radius: 20px;
    padding: 0 5px;
    transition: 1s;
}


/*TRANSITIONS AND TRANSFORM FOR THE WEBSITE LINK in EXPERIENCE*/

.website{
    text-align: center;
    transform: scale(1);
}
.website:hover{
    transform: scale(1.3);
    transition: all 1s;
}


/*************
EXPERIENCE
***************/

.tennis {
  max-width:200px;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 10%;
  float: left;
}
p {
  font-weight: normal;
}
#experience {
  list-style: none;
  padding: 10px 0;
  margin: 20px 0 0;
  }
#experience ul {
  margin: 0 10px;
   padding: 0;
 }
 #experience ul li {
 display: inline-block;
 }
/*************
CONTACT
****************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info .mail a {
  background-image: url('../images/mail.png');
}
.contact-info .twitter a {
  background-image: url('../images/twitter.png');
}
.contact-info .phone a {
  background-image: url('../images/phone.png');
}
.contact-info .linkedin a {
  background-image: url('../images/linkedin.png');
}
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding:0 0 0 30px;
}
.card-contact{
    margin-top: 40px;
    background: #ffffe6;
}

/*styling the #MY-PROJECTS DIV*/
/*
#my-projects{
    background: orange;
}
*/
#my-projects li{
    width: 80%;
    margin: 1% 10%;
    padding: 2rem 4rem;
    background: coral;
    border-radius: 10px;
}
#my-projects img{
    width: 80%;
    height: 60%;
    padding-bottom: 1rem;
}
#my-projects a{
    display: inline-block;
    width: 100%;
    color: #468847;
}
#my-projects p{
    color: #468847;
}



/********************************* Styles for larger screens *************************************/
@media screen and (min-width: 720px) {
  
   .card-contact{
       width: 35%;
       height: 220px;
    }
    
  .flex {
      display: -ms-flexbox;      
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }
  header {
    min-height: 470px;
  }
  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }
  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

/*    ??????????????????????????/fixing in the center h2 headings*/
    
  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}









/*fixing: text p below the picture in mobile,not halh on hte right and half under*/









